# Główne biblioteki GUI i zarządzania aplikacją
PyQt5==5.15.10              # Framework do tworzenia interfejsu użytkownika (GUI) i appletu

gTTS==2.5.4

mediapipe==0.10.14
opencv-python==4.12.0.88
numpy==2.2.6